<div class="col-4 mx-auto mt-2">
  <div class="card bg-dark text-white mt-2 p-1" style="border-radius: 1rem;">
    <div class="card-body text-center p-2">
      <div>
        <h3 class="p-0 m-0">User Details:</h3>
        <section *ngIf="user | async as user">
          <h3 class="p-0 m-0">{{ user.username }}</h3>
          <h2 class="p-0 m-0" *ngIf="user.firstName">{{ user.firstName }} {{ user.lastName}}</h2><br>
          <p><strong>role:</strong><br>{{ user.role }}</p>
          <p><strong>email:</strong><br>{{ user.email }}</p>
          <p><strong>phone:</strong><br>{{ user.phone }}</p>
          <p><strong>address:</strong><br>{{ user.address }}</p>
          <p><strong>created:</strong><br>{{ user.onCreate | date: "dd.MM.yyyy, HH:mm:ss" }}</p>
        </section>
      </div>
      <button class="btn btn-success" [routerLink]="['../']">Go Back</button>
    </div>
  </div>
</div>

