<div class="container py-5 h-100">
  <div class="row d-flex justify-content-center align-item-center h-100">
    <div class="col-12 com-md-8 col-lg-6 col-xl-5">
      <div class="card bg-dark text-white" style="border-radius: 1rem;">
        <div class="card-body p-5 text-center">
          <div class="mb-md-5 mt-md-4 pb-5">
            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
            <p class="text-white-50 mb-5">Please enter your login and password!</p>
            <form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
              <div class="form-outline form-white mb-4">
                <input type="email" class="form-control form-control-lg" id="typeMailX" formControlName="email">
                <label for="typeMailX" class="form-label">Email</label>
                <p *ngIf="loginForm.controls['email']?.invalid && loginForm.controls['email']?.touched"><small class="text-danger">Email is required</small></p>
              </div>
              <div class="form-outline form-white mb-4">
                <input type="password" class="form-control form-control-lg" id="typePasswordX" formControlName="password">
                <label for="typePasswordX" class="form-label">Password</label>
                <p *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched"><small class="text-danger">Password is required (leght more then 8 characters) </small></p>
              </div>
              <button [disabled]="loginForm.invalid" class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
            </form>
          </div>
          <div>
            <p class="mb-0">Don't have an account? <a routerLink="/registration" class="text-white-50 fw-bold">Sign Up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>